<!DOCTYPE html>
<html lang="en">
    <!-- heading -->
    <%- include ('./partials/head.ejs', {page: 'You messed up!'}) %>
  
    <!-- new nav bar -->
    
  
    <section class="hero is-fluid">
      <div class="hero-body">
				<img
          width="800px"
          src="https://cdn.dribbble.com/users/724182/screenshots/8587099/media/ef86c4bf895b58c47d1b353eabecad01.gif"
          alt="not found"
        />
        <p class="title">404 Not Found</p>
        <% if (error) { %>
        <p><%= error.message %></p>
        <% } %>
      </div>
    </section>
    <main class="container is-max-desktop">
      <div class="columns p-30">
        <div class="column">
          <a class="button is-info" href="recipeblog/home">Back To Home Page</a>
        </div>
      </div>
    </main>
  </body>
</html>