<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poiret+One&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        </style>

    <link rel="stylesheet" href="../styles/recipe.css" />

    <script src="/scripts/bulma.js" defer></script>
    <script src="/scripts/main.js" defer></script>

    <% if(typeof page !=='undefined' ) { %>
        <title>Recipe Blog - <%= page %>
        </title>
        <% } else { %>
            <title>Recipe Blog</title>
            <% } %>
</head>

<%- include ('./partials/nav.ejs') %>

    <body>

        <form action="/recipeblog/home" method="POST">
            <fieldset>
                <legend>What are we cooking?</legend>
                <label for="text">Title</label>
                <input name="title" type="text" id="text" placeholder="Chicken">
                <label for="text">Description</label>
                <input name="description" type="text" id="text" placeholder="This is good">
                <label for="text">User</label>
                <input name="user" type="text" id="text" placeholder="Ana">
                <label for="text">Ingredients</label>
                <input name="ingredients" type="text" id="text" placeholder="this and this and that">
                <label for="text">Recipe</label>
                <input name="recipe" type="text" id="text" placeholder="do this">
                <label for="text">Image</label>
                <input name="image" type="text" id="text" placeholder="image here">
                <label for="text">Category</label>
                <input name="category" type="text" id="text" placeholder="image here">
                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </body>

</html>