body{
    text-align: center;
}

h1 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
}

.formContainer {
    margin-left: 85px;
    margin-right: 85px;
    border: solid;
    border-color: rgb(255, 94, 0);
    padding: 10px;
    margin-bottom: 20px;
    
}

.inputs {
    display: flex;
    justify-content: end;
    padding: 15px;
}

input, #ingredients, #prep {
    width: 100%;
    justify-content: right;
    
}

#ingredients, #prep {
    height: 100px;
}

.label {
    display: flex;
    justify-content: start;
    width: 20%;
}

